<html xmlns:th="http://www.thymeleaf.org">
<nav class="top-bar" th:fragment="ShopHeader">


   <a href="/" style="text-decoration: none"> <h2 class="title"> <i class="ri-gamepad-line"></i>  Gamero </h2></a>

    <div class="divInput">
       <input class="input" id="input" type="text" placeholder="search" >
    </div>
    <a th:href="@{/order/cart}" class="shop">
            <i class="ri-shopping-cart-line"></i>
        <div class="circle">
            <span th:text="${@cart.counter}"></span>
        </div>
    </a>
    <a class="addPlus" href="/admin">+</a>
</nav>
</html>
