<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: ShopHead"></head>

<body>
<header th:replace="components/navbar/top :: ShopHeader"></header>

<div class="container">

    <div class="summary">
        <h1>Dodaj grę</h1>

        <form th:action="@{/admin}" th:object="${item}" method="post">
            <label>Nazwa</label>
            <input type="text" name="name" required>
            <label >Cena</label>
            <input type="number" min="0.01" step="0.01" name="price" required>
            <label>Kategoria</label>
            <select class="select">
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category.toString}" ></option>
            </select>
            <label>urlImg</label>
            <input type="text" name="imgUrl">
            <button type="submit">Dodaj</button>
        </form>

    </div>
</div>
</body>
</html>
