<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head :: ShopHead"></head>
<body>
<header th:replace="components/navbar/top :: ShopHeader"></header>

<!--<div class="interval">-->

<div class="asd">

    <div class="grid">
        <aside th:replace="components/navbar/left :: ShopAside"></aside>

        <section>
            <div>

                <div class="main-content">

                    <div class="item-container" th:each="item : ${items}">
                        <div class="item-name"><p th:text="${item.name}"></p></div>
                        <img class="item-img" th:src="@{${item.imgUrl}}">

                        <div class="price">
                            <span>Cena: </span>
                            <span th:text="${item.price}"> </span>
                            <span>zł</span>
                        </div>

                        <a th:href="@{'/add/' + ${item.id}}" class="add-btn">Dodaj</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>
